[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
flask-cors = "==4.0.0"

[dev-packages]
black = "==23.12.1"
pylint = "==3.0.3"
pycodestyle = "==2.11.1"

[requires]
python_version = "3.12"
